html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 2rem;
}

header {
  background-color: #e2e2e2;
  display: flex;
}

header img {
  justify-content: flex-start;
}

p em {
  align-items: center;
}

nav ul {
  background-color: #e2e2e2;
  margin: .5em;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin: .5em;
}

a:link {
  color: #0074d9;
  text-decoration: none;
}
