html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header img {
  width: 2rem;
}

header {
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-between;
}

header p {
  align-items: center;
}

nav ul {
  background-color: #e2e2e2;
  margin: .5em;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav li {
  margin: .5em;
}

nav a {
  color: #0074d9;
  text-decoration: none;
}

header h1 {

}
