html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  margin: 0;
}

header img {
  width: 2rem;
  order: -1;
}

header {
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p {
  margin: 0 auto;
}

nav ul {
  background-color: #e2e2e2;
  margin: .5em;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

nav li {
  padding: 1rem;
}

nav a {
  text-decoration: none;
}

a:hover {
  color: #0074d9;
}

header h1 {
  align-content: flex-start;
}
